.form{
    margin-bottom: 40px;
    text-align: center;
}

.form_title{
    text-align: start;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 25px;
    color:#1282a2
}

.input{
    border: none;
    outline: none;
    border-bottom: 3px solid #04437d;
    height: 40px;
    width: 200px;
    padding: 5px;
    font-family: inherit;
}

.input:focus{
    border: 3px solid #04437d; 
    transition: .1s;
}
